.form {
    width: 100%;
    padding-bottom: 5%;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.form h1 {
    text-align: center;
    color: rgb(0, 101, 126);
    text-transform: uppercase;
    background:rgba(0,0,0, 0.7);
    padding: 2%;
}

.form form {
    display: grid;
    max-width: 480px;
    margin: 0 auto;
}

.form-group label {
    overflow: hidden;
}

.form form input[type="text"],
.form form input[type="email"],
.form form input[type="url"],
.form form input[type="password"] {
    padding: 0.5remx;
    border-radius: 0.5rem;
    border: 1px solid wheat;
    color:black;
    min-width: 430px;
    max-width: 470px;
}

.form form select{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid wheat;
    color: black;
    padding-bottom: 10px;
}

.form form select option {
    color: black;
}

.form form textarea {
    padding: 10px;
    height: 260px;
    border-radius: 10px;
    border: 1px solid wheat;
    color: black;
    padding-bottom: 10px;
}

.form form input[type="submit"] {
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid wheat;
    background: rgb(0, 101, 126);
    color: white;
    font-size: 18px;
}

.form form input[type="submit"]:hover {
    border: 1px solid #455859;
    background: rgb(0, 101, 0);
    color: white;
    text-transform: uppercase;
}

.deleteBtn {
    display: grid;
    width: 480px;
    padding-top: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid wheat;
    background: rgb(0, 101, 126);
    color: white;
    font-size: 18px;
    margin-top: 10%;
}

.deleteBtn:hover {
    border: 1px solid #455859;
    background: rgb(212, 0, 0);
    color: white;
    text-transform: uppercase;
}