.Form {
    width: 100%;
    padding-bottom: 5%;
    background-color: black;
}

.Form h1 {
    text-align: center;
    color: rgb(0, 101, 126);
    text-transform: uppercase;
}

.Form form {
    display: grid;
    width: 480px;
    margin: 0 auto;
}

.Form form input[type="text"],
.Form form input[type="password"] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid wheat;
    color:black;
}

.Form form select{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid wheat;
    color: black;
    margin-bottom: 10px;
}

.Form form select option {
    color: black;
}


.Form form textarea {
    padding: 10px;
    height: 260px;
    border-radius: 10px;
    border: 1px solid wheat;
    color: black;
    font-size: 80%;
    margin-bottom: 10px;
}

.Form form input[type="submit"] {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid wheat;
    background: rgb(0, 101, 126);
    color: white;
    font-size: 18px;
}

.Form form input[type="submit"]:hover {
    border: 1px solid #455859;
    background: rgb(0, 101, 0);
    color: white;
    text-transform: uppercase;
}

.deleteBtn {
    display: grid;
    width: 480px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid wheat;
    background: rgb(0, 101, 126);
    color: white;
    font-size: 18px;
}

.deleteBtn:hover {
    border: 1px solid #455859;
    background: rgb(212, 0, 0);
    color: white;
    text-transform: uppercase;
}