@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(230, 230, 230);
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    word-spacing: 0.12em;
}

html {
    margin: 0;
    padding: 0;
}

