.product-selector {
    display: inline-block;
    background: transparent;
    margin-top: 3%;
}

.product-selector li a{
    width: 200px;
    color: rgb(197, 204, 211);
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-transform: uppercase;
    background-color: rgba(0, 101, 126, 0.7);
    text-align: left;
    padding-left: 20px;
}