.commercial-text-box {
    text-transform: uppercase;
    background: black;
    z-index: 9999;
}
.commercial-text-box img {
    background: transparent;
}

.commercial-text-box h6 {
    background: transparent;
    color: rgba(194, 194, 194, 0.616);
    line-height: 1.6;
    word-spacing: 5px;
    text-align: left;
    padding-left: 20px;
}

.banner-image {
    max-width: 100%;
    max-height: 450px;
}

.banner-image img {
    width: 100%;
    max-height: 440px;
    position: center;
}

.lang {
    overflow: hidden;
}
